// Bootstrap
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;

// Colors in use
$base-border-color: #e5e5e5;
$link-color: $gray-700;

$base-color: #990000;
$base-inverse-color: #FFFFFF;
$base-color-stronger: #550000;

// Unused colors
$base-color-light: #CC0000;
$base-color-strong: #770000;
$base-color-hover: #fceded;
$base-color-hover-strong: #eebbbb;
$base-gradient-start: #CC0000;
$base-gradientEnd: #990000;
$base-border-color: #e5e5e5;
$font-color: #444444;
$font-color-semi: #666666;
$font-color-light: #999999;
$font-color-inactive: #cccccc;
$link-color: #222222;
$font-color-inverted: #FFFFFF;
$font-color-disabled: #BBBBBB;
$font-color-invalid: #b94a48;
$font-color-highlight: #f8f8f8;
$font-color-highlight-semi: #f4f4f4;
$font-color-highlight-strong: #f0f0f0;
$font-color-highlight-stronger: #dddddd;
$base-color-r: 153;
$base-color-g: 0;
$base-color-b: 0;
