@import "../../styles/colors.scss";

.footer {
  text-align: center;
  margin-top: 50px;
  padding: 1.5em;
  border-top: 1px solid $base-border-color;
  color: $link-color;
}
.links {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline; /* Shows each item side-by-side */
      list-style-type: none; /* Gets rid of the bullet points */
    }
    a {
      display: block;
      float: left;
      color: $link-color;
      padding: 0 1em; /* Provides horizontal separation between menu items */
    }
  }
}
